[submodule "raditian-free-hugo-theme"]
	path = raditian-free-hugo-theme
	url = https://github.com/radity/raditian-free-hugo-theme.git
[submodule "themes/raditian"]
	path = themes/raditian
	url = https://github.com/radity/raditian-free-hugo-theme.git
